.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: white;
  z-index: 2;
  width: 100%;
  top: 0;
  border-bottom: 1px solid lightgray;
}

.header .header-icon {
  object-fit: contain;
  height: 90px;
}

/* .header .header-center > input {
  border: none;
  outline-width: 0;
} */

.header .header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
