.home .home-section {
  display: flex;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .home .home-section {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
