.search-result {
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.search-result > img {
  object-fit: cover;
  height: 200px;
  min-width: 200px;
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.search-result .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.search-result .info .info-top {
  width: 80%;
}

.search-result .info .info-top > h3 {
  font-weight: 500;
  margin-top: 10px;
}

.search-result .info .info-top > p {
  margin-top: 10px;
  margin-right: 20px;
  font-size: 13px;
  color: gray;
}
.search-result .info .info-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.search-result .info .info-botton {
  display: flex;
  margin-left: 300px;
  flex-direction: row;
  margin-top: 10px;
  max-width: 400px;
  justify-content: flex-end;
}

.search-result .info .more-btn {
  background-color: white;
  color: #3e930a;
}

.search-result .info .more-btn:hover {
  background-color: #3e930a;
  color: white;
}

.search-result .info .info-bottom .stars {
  display: flex;
}

.search-result .info .info-bottom .stars .star {
  color: rgb(236, 212, 0);
  margin-right: 4px;
}

.search-result .info .info-bottom .price > p {
  text-align: right;
}

.search-result .info .info-bottom .price {
}

@media only screen and (max-width: 600px) {
  .search-result {
    display: flex;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    flex-wrap: wrap;
    align-items: center;
  }

  .search-result > img {
    object-fit: cover;
    height: 200px;
    min-width: 200px;
    border-radius: 10px;
    overflow: hidden;
  }
}
