img {
  border-radius: 8px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  font-size: 20px;
}

p {
  font-size: 15px;
  margin-left: 40px;
  color: gray;
}

.icon-text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 300;
  color: grey;
  font-size: 14px;
}

.icon-text > p {
  margin-right: 5px;
}

.icon {
  margin-right: 20px;
  margin-left: 5px;
}

.top-deets > h2 {
  font-weight: 500;
}

.top-deets {
  margin-left: 40px;
}

.mb .top-deets .flex-container {
  margin-bottom: 17px;
}

.title > h1 {
  font-weight: 500;
}

.description > h2 {
  font-weight: 400;
}

.description {
  padding-left: 30px;
  padding-right: 30px;
}

.address {
  font-weight: 500;
  color: gray;
}

.note {
  margin-bottom: 10px;
  margin-top: -5px;
}

.map {
  width: 100%;
  height: 100%;
}
.card .more-btn {
  background-color: white;
  color: #3e930a;
}

.card .more-btn:hover {
  background-color: #3e930a;
  color: white;
}
